.ipynb_checkpoints

__pycache__

git
*.avi

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
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
